# Proyecto: Claficador de texto según las 17 ODS

El objetivo del proyecto es desarrollar una solución, basada en técnicas de procesamiento del
lenguaje natural y machine learning, que permita clasificar automáticamente un texto según los
17 ODS, ofreciendo una forma de presentación de resultados a través de una herramienta de
fácil comprensión para el usuario final.

Para lograr este modelo, se realizaran los siguientes pasos:

1. Importar las librerías necesarias.

In [1]:
import pandas as pd

In [2]:
path = 'Clasificador de texto'

In [5]:
df = pd.read_excel(path + '/Train_textosODS.xlsx')
df.sample(5)

                                                 textos  ODS
8520  Los materiales reciclables no vendidos se alma...   12
2661  Además, las tasas de crecimiento anual del PIB...   11
6881  El gobierno alemán, por ejemplo, desarrolló po...    7
6870  Los servicios de banda ancha móvil se ofrecen ...    9
8331  La liberalización de los mercados financieros ...   10

In [6]:
print('Tamaño de los datos:',df.shape)

Tamaño de los datos: (9656, 2)

In [10]:
print('Cantidad de datos nulos:')
print(df.isna().sum())

Cantidad de datos nulos:
textos    0
ODS       0
dtype: int64

In [11]:
print('Cantidad de datos duplicados:')
print(df.duplicated().sum())

Cantidad de datos duplicados:
0